<%- model_class = Article -%>
<div class="page-header">
  <h3><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Publication Date</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <% article.categories.each do |category| %>
            <%= category.name %>
          <% end %>
        </td>
        <td><%= link_to article.title, article_path(article) %></td>
        <td class="span2"><%= article.created_at.strftime('%b %d, %Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>


