
<h3>Welcome to Wikiful</h3>
<h4>Here are some of the most recent articles:</h4>
<table class="table table-striped">
<thead>
	<tr>
		<td><h5>Publication date & Category</h5></td>
		<td><h5>Title</h5></td>
		<td><h5>Content</h5></td>
	</tr>
</thead>
<tbody>

<% @recent_articles.each do |article| %>
	<tr>
		<td>
			Published on <%= article.created_at.strftime('%B %d, %Y') %>
			Category: <% article.categories.each do |category| %>
				<%= category.name %>
			<% end %>
		</td>
		<td><%= link_to article.title, article %></td>
		
		<td><%= truncate(article.content, length: 100) %></td>
	</tr>

<% end %>

</tbody>
</table>
