<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h4>List of Categories</h4>
	<p>click any category to see lists of articles associated to that link</p>
<div>
	
<ol>
<% @categories.order(name: :asc).each do |category| %>
	<li><%= link_to category.name, category %></li>
<% end %>
</ol>
</div>


</body>
</html>


