<h1>List of Categories</h1>
	<p>click any category to see lists of articles associated to that link</p>
<div>
	
<ol>
<% @categories.order(name: :asc).each do |category| %>
	<li><%= link_to category.name, category %></li>

<% end %>
</ol>
</div>





