<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class ="well span4">
<h3>Create new category</h3>

<% if @category.errors.any? %>
	<% @category.errors.full_messages.each do |message| %>
		<ul>
			<li><%= message %></li>	
		</ul>
	<% end %>	
<% end %>
</div>
<%= render :partial => 'form' %>

</body>
</html>
