<div>
	<p><%= @date %></p>
<table>
	<tr>
		<th>List of Articles in <%= @category.name %> Category</th>
	</tr>
</table>

<ol>
	<% @category.articles.order(:title).each do |article| %>
		<li><%= link_to article.title.capitalize, article %></li>	
	<% end %>
</ol>

</div>